<h1><%= day.toLocaleDateString(undefined, options) %></h1>
<h2>ToDos: </h2>

<div>
    <% allTasks.forEach(todo => { %>
     <h3><a href="/home/todo/<%= todo._id %>"><%= todo.title %></a></h3>
     <p><%= todo.deadline %></p>
    <% }) %>
</div>