<div class="daily">
    <h1><%= day.toLocaleDateString(undefined, options) %></h1>
    <h2>ToDos: </h2>

    <div id="dailyTodo">
        <% userTasks.forEach(task => { %>
        <div>
            <h3><a href="/home/todo/<%= task._id %>"><%= task.title %></a></h3>
            <p><%= task.deadline.toLocaleDateString(undefined, options) %></p>
        </div>
        <% }) %>
    </div>
</div>