<div class="account-homepage">
    <main class="content">
        <h1 class="acc-header">Welcome <%= user.username %></h1>
        <div class="btn-container">
            <a href="/home/profile" class="acc-btns">Profile</a>
            <a href="/home/schedule" class="acc-btns">Schedule</a>
            <a href="/home/todo" class="acc-btns">ToDo</a>
        </div>   
    </main>
</div>
