<div class="account-homepage">
    <nav class="acc-navbar">
        <form action="/home/logout" method="POST" class="logout-form">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </nav>
    <main class="content">
        <h1 class="acc-header">Welcome <%= user.username %></h1>
        <div class="btn-container">
            <a href="/home/profile" class="acc-btns">Your Profile</a>
            <a href="/home/schedule" class="acc-btns">Schedule</a>
            <a href="/home/todo" class="acc-btns">Todo</a>
        </div>   
    </main>
</div>
