<h1><%= oneTask.title %></h1>
<ul>
    <% oneTask.tasks.forEach(task => { %>
     <li><%= task %></li>
    <% }) %>
</ul>

<form action="/home/todo/<%- oneTask._id %>/delete" method="POST">
<button type="submit">DELETE</button>
</form>