<div class="homepage">
  <div class="title">
    <p>Organize your day, week or month with:</p>
    <h1>Task Manager</h1>
  </div>
  <div class="auth">
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
  </div>
</div>

