<nav>
    <ul>
      <li>
        <a href="/signup">Sign Up</a>
      </li>
      <li>
        <a href="/login">Log In</a>
      </li>
    </ul>
</nav>
<h1><%= appTitle %> 🚀</h1>
<p>Welcome Ironhacker!</p>
<p>Hello</p>
