<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  
  <body>
    <% if (user) {%>
      <nav class="todo-navbar" style="background-color: #deeffa;">
          <a href="/home" class="todo-nav-btn">Home</a></li>
          <a href="/home/schedule" class="todo-nav-btn">Schedule</a></li>
          <a href="/home/todo" class="todo-nav-btn">Todo</a>
          <form action="/home/logout" method="POST" class="logout-form">
            <button type="submit" class="logout-btn">Logout</button>
          </form>
      </nav>
    <% } %>
    <%- body %>

    <script src="/js/script.js"></script>
  </body>
</html>
