<div class="login-page">
<h1 class="signup-title">Sign Up</h1>
<form action="/signup" method="POST" class="signup-form">
    <label class="signup-label">Username:
        <input type="text" name="username" required class="signup-input">
    </label>
    <label class="signup-label">E-mail: 
        <input type="email" name="email" required class="signup-input">
    </label>
    <label class="signup-label">Password: 
        <input type="password" name="password" required class="signup-input">
    </label>
    <button type="submit" class="signup-button">Sign Up</button>
    <a href="/" class="back-button">Back</a>
</form>
<% if (typeof errorMessage !== "undefined") { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>
</div>